<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

<h1>Bienvenido a  <h2>Thunder Apps</h2> </h1>



<h3>Apreciado(a) <%= @user.name %></h3>

 <p>Ahora haces parte de Thunder Apps</p>

<hr/>
 <p>Gracias por registrarte</p>
<footer>Por favor no responda este correo<p><footer>
</body>
</html>



