/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */
 @import 'bootstrap';

 html, body{
  height: 100%;
}
header{
  padding-top: 20px;
}

.titulo{
  font-family: 'Lobster', cursive;
  font-size: 50px;
  color: #E5551E;
  text-shadow: rgba(239,105,26,0.5) 3px 2px;;
}
.subt{
  font-family: 'Shadows Into Light', cursive;
  font-size: 19px;
  font-weight: bold;
  color: white;

  
}
.divsubt{
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
  padding-left: 10px
}
body {
 
  background: url(1.jpg) no-repeat fixed top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.styleform{

 background-color: rgba(255,255,255,0.8);
 border-radius: 10px;
 padding: 20px;
 

}
footer{
 position: fixed;
 background-color: rgba(0,0,0,0.8);
 bottom: 0px;
 width: 100%;
 padding: 10px;
 color: white;
 text-align: center;
 line-height: 1;
 margin-bottom: -1px;
 
}
.alert {
  color: white;
  background-color:rgba(241,17,17,0.6);
  border-radius: 5px;
  width: 60%;

}
.notice{
  color: white;
  background-color:rgba(27,143,0,0.6);
  border-radius: 5px;
  width: 60%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.avatar{
  padding-left: 5px;
}
.link-avatar{
  background-color: #F67B0D;
  padding-right: 10px;
  padding-left: 20px;
  padding-top:2px;
  padding-bottom:2px;
  border-radius: 10px;
  font-size: 15px;
  color: white;


}
.modalv{

  background-color: rgba(0,0,0,0.5);
  margin: auto;
  padding: 0px;

}
.modalv label, h2{
  color: white;
}
.devisenew{
  background-color: rgba(0,0,0,0.5);
  margin-left: 200px;
  
  padding: 0px;
  border-radius: 20px;
  color: white;
}
.errores{
  background-color:rgba(241,17,17,0.6);
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#error_explanation, h2{
  font-size: 20px;

}
#error_explanation, li{
  font-size: 15px;

}
.like {
 width: 70px;
 margin-top: 20px;
 margin-left: 50px;
}
.nolike {
  width: 70px;
  margin-top: 20px;
  margin-left: 80px;
}
.tabladatos{
  margin-top: 60px;
  font-size: 25px;
}
.matchimg{
  width: 150px;
}
.match{
  margin-left: 100px;
}

figure{
  display: inline-block;
  margin-left: 40px
}
.match1 ,.match2{
  padding: 10px;
  margin-top: 10px;
  color: white;
  border-radius: 10px;
}
.match1{
 background-color:rgba(241,17,17,0.6);
}
.match2{
  
  
  background-color:rgba(27,143,0,0.6);
}